
*.iml

Volunteeride/*/.idea/*

*.class

Volunteeride/*/.gradle/2.2.1/*
Volunteeride/*/.gradle/2.2/*

Volunteeride/*/build/*
*.bin
*.lock
Volunteeride/service/.gradle/2.2/taskArtifacts/taskArtifacts.bin
Volunteeride/service/.gradle/2.2/taskArtifacts/fileSnapshots.bin
